<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Instruções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <ion-item>1- Esta calculadora por enquanto opera apenas com dois numeros</ion-item>
  <ion-item>2- Mais funções serão adicionadas</ion-item>
  <ion-item>3- O primeiro numero é sempre o que sofrerá com a operação</ion-item>
  <span>Como todas calculadoras comuns e conhecidas</span>
</ion-content>