<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <div>
    <ion-label>Insira o primeiro valor: </ion-label>
    <ion-input [(ngModel)]='valor1'></ion-input>
    <ion-label>Insira o segundo valor: </ion-label>
    <ion-input [(ngModel)]='valor2'></ion-input>
  </div>
  <ion-label [(ngModel)]='resultado' id="resultado">Resultado: {{  resultado  }} </ion-label>
  <br>
  <div>
    <ion-grid>
        <ion-row>
            <ion-col>C</ion-col>
            <ion-col>+/-</ion-col>
            <ion-col>%</ion-col>
            <ion-col (click)="clearInput('del')">DELETE</ion-col>
        </ion-row>
      <ion-row>
        <ion-col (click)="teclado(7)">7</ion-col>
        <ion-col (click)="teclado(8)">8</ion-col>
        <ion-col (click)="teclado(9)">9</ion-col>
        <ion-col>
          <ion-button class="operation" (click)="onChangeValue('soma')"> + </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col (click)="teclado(4)">4</ion-col>
          <ion-col (click)="teclado(5)">5</ion-col>
          <ion-col (click)="teclado(6)">6</ion-col>
          <ion-col>
            <ion-button class="operation" (click)="onChangeValue('menos')"> - </ion-button>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col (click)="teclado(1)">1</ion-col>
          <ion-col (click)="teclado(2)">2</ion-col>
          <ion-col (click)="teclado(3)">3</ion-col>
          <ion-col>
            <ion-button class="operation" (click)="onChangeValue('divisao')"> / </ion-button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>0</ion-col>
          <ion-col>,</ion-col>
          <ion-col>=</ion-col>
          <ion-col>
              <ion-button class="operation" (click)="onChangeValue('vezes')"> * </ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>

  </div>

</ion-content>