ion-grid{
  color: crimson;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.operation{
  width: 43%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
}

#resultado{
  opacity: 0.8;
  border-radius: 5px;
  font-size: 25px;
}